h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

.container{
  width: 600px;
  margin: 0 auto
}

// Profile picture

.profile_picture img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  filter: grayscale(100%);
  transition: .3s ease-in-out;
}

.profile_picture img:hover {
	filter: grayscale(0);
}

.card-white .biography{
  overflow: hidden;
  margin: 0 auto;
}

// Cards

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-product {
  height: 120px;
  background: white;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-white {
  background-color: white;
  padding: 20px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 10px;
  margin: 20px 0px;
  text-align: center;
  div{
    padding:10px 0;
  }
}


// Button
.dash {
  margin: 0 auto;
  text-align:center;
  width:250px
}

.button {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 30px;
}

.button:hover{
  border:solid 1px rgb(248, 105, 129);
}

.button span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-facebook:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(248, 105, 129);;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-facebook:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-facebook:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.btn-ghost2 {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost2:hover {
  opacity: 1;
  background-color: rgb(248, 105, 129);
  color:white;
  transition: background 0.5s ease;
}
