.card-booking {
  width: 350px;

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
    margin: 0px;
  }

  a {
    text-decoration: none;
  }

  i {
    font-size: 20px;
  }

  .fa-check {
    font-size: 30px;
    background-color: rgb(210, 210, 210);
    border-radius: 50%;
  }

}
