.card-booking {
  width: 230px;
  background-color: $pcolor1;
  border-radius: 15px;

  h3 {
    font-size: 20px;
    color:rgb(248, 105, 129);
  }

  p {
    font-size: 14px;
    margin: 0px;
  }

  a {
    text-decoration: none;
    color: $pcolor3;
  }

  a:hover {
    color: $pcolor2;
  }

  i {
    font-size: 20px;
  }

  .icones {
    color:rgb(245, 137, 155);
    font-size:24px;
  }

  .fa-trash {
    color:#b1afafa4;
    font-size:18px;
  }


}


.cancelled {
  opacity: 0.4;
}

.declined {
  opacity: 0.3;
  background-color: rgba(255, 0, 0, 0.285);
}


.display-none {
  display: none;
}
