.card-booking {
  width: 350px;

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
    margin: 0px;
  }

  a {
    text-decoration: none;
    color: $pcolor3;
  }

  a:hover {
    color: $pcolor2;
  }

  i {
    font-size: 20px;
  }

  .fa-check {
    font-size: 40px;
    border-radius: 50%;
  }

  .unvalidated {
    color:grey;
    background-color: rgba(197, 197, 197, 0.167);
  }

  .validated {
    color:rgb(15, 165, 15);
    background-color: rgba(197, 197, 197, 0.556);
  }

}
