//LOG IN PAGE

.container-login{
  width: 600px;
  margin: 0 auto;
  h2{
    margin-top: 20px;
  }
}

.bottom-btn-log-in{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 500px;
  a{
    text-decoration: none;
    color:black;
  }
  a:hover{
    color: pink;
    font-weight: bold;
  }
}

.form-inputs-login{
  width: 600px;
}

//SIGN UP PAGE

.container-signup{
  width: 600px;
  margin: 0 auto;
  h2{
    margin-top: 20px;
  }
}

.bottom-btn-sign-up{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  width: 500px;
  a{
    text-decoration: none;
    color:black;
  }
  a:hover{
    color: pink;
    font-weight: bold;
  }
}
