.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-top: 3px;
  padding-bottom: 3px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items :center
}

.project-name {
  font-weight: bold;
  padding: 5px;
  border: 2px solid pink;
  border-radius: 20px;
  margin: 0;
  color: #606060;
}

.right-side {
  display: flex;
  align-items :center;
  margin-left: 52px;
}

.left-side {
  display: flex;
  align-items :center;
  justify-content: left;
  margin-right: 52px;
}

.search-form-control {
  padding-right: 20px;
}

.form-control {
  width: 300px;
  height: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgb(196, 196, 196)
}

.search-icon {
  color: #4c4c4c;
}

.avatar {
  width: 45px;
}
