.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-top: 3px;
  padding-bottom: 3px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items :center
}

.project-name {
  font-weight: bold;
  padding: 5px;
  border: 2px solid rgb(248, 105, 129);
  border-radius: 20px;
  margin: 0;
  color: #606060;
}

.right-side {
  display: flex;
  align-items :center;
  margin-left: 52px;
}

.left-side {
  display: flex;
  align-items :center;
  justify-content: left;
  margin-right: 52px;
}

.search-form-control {
  padding-right: 20px;
}

.form-control {
  background-color: rgb(255, 255, 255) !important;
  border-radius: 30px !important;
  width: 500px;
  vertical-align: baseline;
  height: 38px !important;
  box-shadow: 1px 1px 1px lightgrey;
}

.search-icon {
  color: #4c4c4c;
}

.avatar {
  box-shadow: 1px 1px 1px grey;
}
